.app-header {
  display: flex;
  justify-content: flex-start; /* Alinea el logo a la izquierda */
  align-items: center;
  padding: 10px 20px;
  background-color: #2b5c2a; /* Fondo blanco */
  color: white; /* Texto verde oscuro */
  border-bottom: 1px solid #e5f5e5; /* Borde muy sutil */
}

.logo-icon {
  height: 50px; /* Aumentado a 36px, puedes probar con 40px, 48px, etc. */
  width: auto;   /* El ancho se ajusta automáticamente para mantener la proporción */
  margin-right: 8px;
}

/* También puedes querer ajustar el tamaño de fuente del texto "FoodChain"
   para que coincida con el nuevo tamaño del logo */
.logo {
  font-size: 28px; /* Aumenta el tamaño del texto del logo */
  font-weight: bold;
  display: flex;
  align-items: center;
}
