<app-header></app-header>
<div class="sidenav-layout">
  <aside class="sidebar">
    <nav class="sidebar-nav">
      <ul>
        <li>
          <a routerLink="/sidenav/details-batch" routerLinkActive="active" class="nav-item">    <i class="icon">🏠</i> Dashboard
          </a>
        </li>
        <li>
          <a routerLink="/sidenav/view-batch" routerLinkActive="active" class="nav-item">
            <i class="icon">📦</i> My Batches
          </a>
        </li>
        <li>
          <a routerLink="/sidenav/create-batch" routerLinkActive="active" class="nav-item">
            <i class="icon">➕</i> Create Batch
          </a>
        </li>
        <li>
          <a routerLink="/sidenav/duplicate-batch" routerLinkActive="active" class="nav-item">
            <i class="icon">📋</i> Duplicate Batch
          </a>
        </li>
        <li>
          <a routerLink="/sidenav/delete-batch" routerLinkActive="active" class="nav-item">
            <i class="icon">🗑️</i> Delete Batch
          </a>
        </li>
        <li>
          <a routerLink="/sidenav/edit-admin" routerLinkActive="active" class="nav-item">
            <i class="icon">⚙️️</i> Configuration
          </a>
        </li>
        <li>
          <a routerLink="/sidenav/register-step" routerLinkActive="active" class="nav-item">
            <i class="icon">🚶</i> Create Step
          </a>
        </li>
      </ul>


      <div class="theme-toggle-container">
        <button (click)="toggleTheme()" class="nav-item theme-toggle-button">
          <i
            class="icon"
            [ngClass]="(isDarkTheme$ | async) ? 'fas fa-sun' : 'fas fa-moon'">
          </i>
          <span>{{ (isDarkTheme$ | async) ? 'Modo Oscuro' : 'Modo Claro' }}</span>
        </button>
      </div>

      <div class="logout">
        <a routerLink="/login" class="nav-item logout-link">
          <i class="icon">⬅️</i> Log Out
        </a>
      </div>
    </nav>
  </aside>

  <main class="content-area">
    <router-outlet></router-outlet>
  </main>

</div>
