


/* Media Query para Móviles (solución responsive) */
@media (max-width: 600px) {
  .app-footer {
    flex-direction: column;
    text-align: center;
    padding: 15px 15px;
  }

  .app-footer p {
    white-space: normal; /* Permite el salto de línea en móviles */
    text-overflow: clip; /* Quita los puntos suspensivos */
    overflow: visible;
  }
}
